.chatbot {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}


h1 {
  color: #333;
  margin-bottom: 20px;
}

.audio-list {
  margin-top: 20px;
}

.audio-list h3 {
  margin-bottom: 10px;
  color: #333;
}

.audio-list ul {
  list-style: none;
  padding: 0;
}

.audio-list li {
  margin: 10px;
  cursor: pointer;
}

.audio-list li span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.audio-list li audio {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:active {
  background-color: #1565c0;
}
